* {
    font-Family: 'Red Hat Display';
}

.portImage {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out 0s;
    position: relative;
    margin-bottom: 2%;
}
.uiUx {
    border: 2px solid #f9d2fa;
    box-shadow: 0px 13px 50px 13px #896da2;
    padding: 4% 2%;
    margin: 0px 20px;
    border-radius: 10px;
}
.uiHead{
    text-align: center;
    font-size: 30px;
    color:blueviolet;
    font-weight: 600;
}
.uiImage, .illuImage{
    text-align: center;
    font-size: 15px;
    color:blueviolet;
    font-weight: 600;
}
.jdklfsj{
    border: 2px solid #f9d2fa;
    box-shadow: 0px 13px 50px 13px #896da2;
    padding: 20px 2%;
    margin: 3% 20px;
    border-radius: 10px;

}
.uiImage{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.uiImage img{
    width: 100%;
    height: 100%;
    box-shadow: 0px 13px 50px 13px #896da2;
}
.portFolio {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.uiUxDesign{
    border: 1px solid #f9d2fa;
    box-shadow: 0px 13px 50px 13px #896da2;
    padding: 0px 2% 7%;
    margin: 3% 20px;
    border-radius: 10px;
}
.PhotoshopDesign{
    border: 1px solid #f9d2fa;
    box-shadow: 0px 13px 50px 13px #896da2;
    padding: 0px 2% 7%;
    margin: 3% 20px;
    color:blueviolet;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
}
.illuImage{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.PhotoshopImage{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.illuImage img{
    box-shadow: 0px 13px 50px 13px #896da2;
    width: 100%;
    height: 100%;
}
.PhotoshopImage img{
    box-shadow: 0px 13px 50px 13px #896da2;
    width: 100%;
    height: 100%;
}
.illuDiv{
    width: 33.33%;
}

.Title {
    text-align: center;
    font-family: Poppins, serif;
    font-weight: 500;
    color:  #7700c4;
    transition: all 1s ease-in-out 0s;
    position: relative;
    -webkit-box-align: center;
    font-size: 3.5rem;
}
.graphic{
    display: flex;
}

.img {
    height: auto;
    width: 100%;
    border-radius: 3px;
    background-position: center center;
    box-shadow: 0px 13px 50px 13px #896da2;
}

.MovieAbout {
    padding-top: 0;
}

.MovieAbout {
    width: 50%;
    border: 1px solid #f5caf6;
    box-sizing: border-box;
    margin: 0 5%;
    text-align: center;
    padding: 4.2% 0;
    position: relative;
    box-shadow: 0px 13px 50px 13px #896da2;
}

.aboutTitle {
    color: rgb(141 65 201);
    text-align: center;
    font-size: 35px;
    overflow: hidden;
}

.paraI {
    font-size: 20px;
    text-align: center;
    padding-left: 10px;
    color: rgb(162 94 215);
}

.aboutTech {
    color: rgb(162 94 215);
    text-align: center;
    font-size: 15px;
}

.imgDiv .btn {
    position: absolute;
    background-color: #9957c4;
    color: white;
    font-size: 16px;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #febaff;
}

.imgDiv {
    width: 50%;
    position: relative;
    box-sizing: border-box;
    margin: 0 5%;
}

.imgDiv a {
    text-decoration: none;
}

.btn:hover {
    background: #ff9cff;;
    color: white;
    border: 2px solid #febaff;
}

.btnLinkWrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.LinkButton {
    text-decoration: none;
    border: 1px solid #98049b;
    color: transparent;
    padding: 10px 28px;
    font-size: 15px;
    font-family: sans-serif;
    transition: all 0.5s;
    position: relative;
    text-align: center;
    background-color: #9332d1;
}

.LinkButton:before {
    content: "watch";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #e02cbd;
    font-size: 20px;
    top: 0;
    left: 100%;
    font-family: sans-serif;
    letter-spacing: 1px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 0;
}

.LinkButton:hover:before {
    transform: scale(1) rotatey(10deg);
    left: 0;
    opacity: 1;
}

.LinkButton:after {
    content: "watch";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7d1cca;
    background: #edc0ed;
    font-size: 15px;
    top: 0;
    left: 0;
    font-family: sans-serif;
    letter-spacing: 5px;
    transition: all 1s;
    height: 100%;
    width: 100%;
    position: absolute;
    transform: scale(1) rotatey(0);
    opacity: 1;
}

.LinkButton:hover:after {
    transform: scale(0) rotatey(360deg);
    left: 100%;
    opacity: 0;
}

@media (max-width: 575.98px) {
    .aboutTitle {
        font-size: 20px;
    }
    .paraI {
        font-size: 15px;
    }
    .imgDiv,
    .MovieAbout {
        width: 100%;
        box-sizing: content-box;
        margin: 0 5% 10px;
    }
    .illuDiv{
        width: 33.33%;
    }
    .graphic{
       flex-wrap: wrap;
    }
    .uiUx{
        margin: 0px 20px;
        padding: 0px 20px 20%;
    }
    .uiUxDesign{
        margin: 3% 20px;
        padding: 0px 20px 20%;
    }
    .PhotoshopDesign{
        margin: 3% 20px;
        padding: 0px 20px 20%;
    }
    .PhotoshopImage{
        display: flex;
        justify-content: center;
        gap: 60px;
        flex-wrap: wrap;
        text-align: center;

    }
}

@media (max-width: 767.98px) {
    .portImage {
        flex-wrap: wrap;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}