.ContactWrap p{
    text-align: center;
    color:#7700c4;
    font-size: 3.5rem;
    font-weight: 500;
    font-family: Poppins, serif;
}
.borderShadowDiv{
    box-shadow: 10px 10px 15px 10px #896da2 ;
    border: 1px solid #f5caf6;
    padding: 10px 25px;
    text-align: center;
}

.contactItem {
    padding-bottom: 6%;
}

.contactItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8%;

}

.contactItem a {
    color:#7c0fc2;
    text-decoration: none;
}

.contactItem :hover {
    color: #aa4cf3;
}

@media screen and (max-width: 400px) {
    .contactItem {
        gap: 4%;
    }

    .ContactImg {
        height: 20px;
        width: 20%;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30%;
    }
}

@media screen and (max-width: 370px) {
    .contactItem {
        gap: 4%;
    }

    .ContactImg {
        height: 20px;
        width: 20%;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30%;

    }

}


@media screen and (max-width: 200px) {
    .contactItem {
        gap: 4%;
    }

    .ContactImg {
        height: 20px;
        width: 20%;
        font-size: 15px;
        text-align: center;
        padding-bottom: 30%;
    }
}