.ContactWrap h1 {
    text-align: center;
    color: yellow;
}

.contactItem {
    bottom: 10%;
}

.contactItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    justify-content: center;
    gap: 8%;
}

.contactItem a {
    color: white;
    text-decoration: none;
}

.contactItem :hover {
    color: #4648c9;
}

@media screen and (max-width: 400px) {
    .contactItem {
        gap: 4%;

    }
}

@media screen and (max-width: 370px) {
    .contactItem {
        gap: 4%;

    }
}