.nav {
    gap: 10%;
    /*z-index: 1;*/
    display: flex;
    justify-content: center;
   padding-top: 50px;
    position: fixed;
    width: 100%;
    font-size: 20px;
    list-style: none;
    z-index: auto;
}
.backgroundImage{
    background-image: url('/public/ui/Group 1.png');
    width: 100%;
    background-size: cover;
    height: 100vh;
}

.nav a {
    display: block;
}

.navLi a {
    text-decoration: none;
    color: #f881ff;
}

.navLi a:hover {
    border-bottom: 2px solid #eaeaf8;
}

.navLi a:active {
    border-bottom: 3px solid red;
}

.nav {
    overflow: hidden;
    z-index: 1;
}

@media (max-width: 575.98px) {
    .nav {
        list-style: none;
        height: 70px;
        padding: 10% 30px;
        flex-flow: column;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}