.nav {
    gap: 10%;
    background-color: #000;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding: 1% 2%;
    position: fixed;
    width: 100%;
    font-size: 20px;
}

.nav a {
    display: block;
}

.navLi a {
    text-decoration: none;
    color: white;
}

.navLi a:hover {
    border-bottom: 2px solid #2c2cb2;
}

.navLi a:active {
    border-bottom: 2px solid red;
}

.nav {
    overflow: hidden;
    background-color: #000;
    z-index: 1;
}

@media (max-width: 575.98px) {
    .nav {
        list-style: none;
        height: 70px;
        padding: 10% 30px;
        flex-flow: column;
        font-size: 20px;
        justify-content: left;
        text-align: left;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}