.para {
    font-family: Red Hat Display;
    /*color: white;*/
    color: #ad7603;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    position: relative;
    width: 90%;
    box-sizing: border-box;
    padding-left: 4rem;
    padding-top: 20%;
    /*background-image: url("backgroundImage.jpg");*/

}

.para2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gUqzkk {
    transform: rotate(90deg);
    font-size: 25px;
color: rgb(155 22 70);
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    left: 95%;
    top: 100px;
}

.name {
    font-size: 30px;
    color: white;
    width: 70%;
}

.para2 .react-typewriter-text-wrap .react-typewriter-text {
    font-family: 'Red Hat Display';
    color: white;
    font-weight: 200;
    font-size: 40px;
    text-align: left;
    /*line-height: 40px;*/
}

.para3 .react-typewriter-text-wrap .react-typewriter-text {
    font-family: 'Red Hat Display';
    font-size: 50px;
    color: #fd7fff;
    text-align: left;
    /*line-height: 50px;*/
    width: 100%;
}

@media (max-width: 575.98px) {
    .para {
        width: 60%;
        padding: 20% 25px;
    }

    .gUqzkk {
        font-size: 20px;
        right: 0;
        bottom: 0;
        left: 25%;
        top: 50px;
    }

    .react-typewriter-text {
        font-size: 28px !important;
    }

    .para2 {
        color: red;
        margin-top: 40%;
        max-width: 300px;
    }

    .para3 {
        font-size: 25px;
        line-height: 30px;
        color: blueviolet;
        width: 70%;
    }

    .para2 .react-typewriter-text-wrap .react-typewriter-text {
        max-width: 200px !important;
    }

    .para3 .react-typewriter-text-wrap .react-typewriter-text {
        max-width: 200px !important;
    }

    .name {
        width: 70%;
        font-size: 1.1rem;
        padding-top: 20px;
    }
}


@media (max-width: 767.98px) {
    .gUqzkk {
        font-size: 20px;
        right: 0;
        bottom: 0;
        left: 25%;
        top: 50px;
    }

}
/*@media (max-width: 290.98px) {*/
/*}*/
/*.para {*/
/*    width: 60%;*/
/*    padding: 25% 30px;*/
/*}*/
/*.gUqzkk {*/
/*    font-size: 20px;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    left: 20%;*/
/*    top: 50px;*/
/*}*/


/*@media (max-width: 882.98px) {*/
/*    .para {*/
/*        width: 60%;*/
/*        padding: 25% 30px;*/
/*    }*/
/*    .gUqzkk {*/
/*        font-size: 20px;*/
/*        right: 0;*/
/*        bottom: 0;*/
/*        left: 60%;*/
/*        top: 60px;*/
/*    }*/
/*}*/



@media (max-width: 1399.98px) {
}