.para {
    font-family: Red Hat Display;
    color: white;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    position: relative;
    width: 90%;
    box-sizing: border-box;
    padding-left: 8rem;
    padding-top: 15%;
}

.para2 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.gUqzkk {
    transform: rotate(90deg);
    color: rgb(168, 178, 187);
    font-size: 25px;
    opacity: 0.6;
    position: absolute;
    box-sizing: border-box;
    right: 0;
    bottom: 0;
    left: 95%;
    top: 100px;
}

.name {
    font-size: 30px;
    color: white;
    width: 70%;
}

.para2 .react-typewriter-text-wrap .react-typewriter-text {
    font-family: 'Red Hat Display';
    color: white;
    font-weight: 200;
    font-size: 40px;
    text-align: left;
    line-height: 40px;
}

.para3 .react-typewriter-text-wrap .react-typewriter-text {
    font-family: 'Red Hat Display';
    font-size: 50px;
    color: green;
    text-align: left;
    line-height: 50px;
    width: 100%;
}

@media (max-width: 575.98px) {
    .para {
        width: 90%;
        width: 70%;
        padding: 22% 30px;
    }
    .gUqzkk {
        font-size: 20px;
        right: 0;
        bottom: 0;
        left: 20%;
        top: 70px;
    }
    .react-typewriter-text {
        font-size: 28px !important;
    }
    .para2 {
        color: red;
        margin-top: 22%;
        max-width: 395px;
    }
    .para3 {
        font-size: 30px;
        line-height: 60px;
        color: blueviolet;
    }
    .para2 .react-typewriter-text-wrap .react-typewriter-text {
        max-width: 300px !important;
    }
    .para3 .react-typewriter-text-wrap .react-typewriter-text {
        max-width: 300px !important;
    }
    .name {
        width: 100%;
        font-size: 1.8rem;
    }
}

@media (max-width: 767.98px) {
    .gUqzkk {
        font-size: 18px;
        right: 0;
        bottom: 0;
        /* left: 20%;
        top: 70px; */
        left: 57%;
        top: 75px;
    }
}

@media (max-width: 991.98px) {}

@media (max-width: 1199.98px) {}

@media (max-width: 1399.98px) {}